// ---- global ------------------------------------------------------------------------------------

html
  font-size: 100%

  
body
  margin-top: 70px
  text-align: center
  color: $colorFontDefault
  background: $colorBlackLight
  font-size: 14px
  line-height: $line-height-base


a
  outline: none
  text-decoration: none
  +transition-duration(0.3s)
  +transition-property(color)
  .theme-1 &
    color: $colorTheme1
  .theme-2 &
    color: $colorTheme2
  .theme-3 &
    color: $colorTheme3
  .theme-4 &
    color: $colorTheme4
  
  
  &:hover, &:active, &:focus
    outline: none
    color: $colorLink
    
    
    text-decoration: none
  &:focus
    -moz-outline-style: none
  &:hover
    text-decoration: underline


      
\:-moz-any-link:focus
  outline: none

                 
h1, h2, h3, h4, h5, p
  font-weight: normal
  line-height: $line-height-base

  
button
  border: none
  padding: 0 10px
  box-shadow: none
  +border-radius($borderRadius)