
// --- header -------------------------------------------------------------------------------------

#header
  background: #111111
  border-bottom: 1px solid #222222

  .container
    position: relative

  .navbar-header
    height: 70px

    .navbar-brand
      float: left
      padding: 10px 0 0 0
      color: $colorPrimary
      
    .logo
      margin-left: 15px
      
      >.logo-icon
        float: left
        width: 48px
        height: 48px
  
      >.logo-typo
        float: left
        margin-top: 15px
        margin-left: 5px
        font-size: $fontSizeLogo

        &:hover
          text-decoration: none

    .navbar-toggle
      margin-top: 17px
      background: $colorBackground
      +border-radius($borderRadius)
      border: 1px solid $colorBorder

      >.icon-bar
        background: $colorFontDefault

  .navbar-collapse
    padding: 10px 0
    background: #111111

    .nav
      margin: 0
      padding: 0
      list-style-type: none

      li
        padding: 5px 0
        text-transform: uppercase

        a:hover, &.active a
          text-decoration: none
          .theme-1 &
            color: $colorTheme1
          .theme-2 &
            color: $colorTheme2
          .theme-3 &
            color: $colorTheme3
          .theme-4 &
            color: $colorTheme4
  
            

          
// --- main ---

#main
  width: 100%

  .wrapper
    width: 100%
    padding-top: 50px
    padding-bottom: 100px
    background: #191919
    border-top: 1px solid #222222

    &:nth-child(even)
      background: #111111

  .header
    > .title
      font-size: $fontSizeTitle

    > .description
      margin-bottom: 50px

      

  
// --- home ---

#home
  background-repeat: no-repeat
  background-position: center 0

  .theme-1 &
    background-image: url("/assets/img/theme/background-01.jpg")
  .theme-2 &
    background-image: url("/assets/img/theme/background-02.jpg")
  .theme-3 &
    background-image: url("/assets/img/theme/background-03.jpg")
  .theme-4 &
    background-image: url("/assets/img/theme/background-04.jpg")

  .header
    > .title
      margin-top: 100px
      font-size: $fontSizeSuperBig

    > .description
      margin-top: 0
      margin-bottom: 0
      font-size: $fontSizeBig
      
  .services
    margin-top: 150px
    
    .item
      padding: 1px
      //margin: 50px 0
      
      .service
        padding: 50px
        background: rgba(0, 0, 0, 0.5)
        
        .thumb
          width: 150px
          height: 150px
          background: #fff
          position: relative
          display: inline-block
    
          > *
            top: 50%
            left: 50%
            width: 80px
            height: 80px
            margin-top: -40px
            margin-left: -40px
    
          > .thumb-strategy
            +cssowl-sprite-absolute-inside($sprite-icons-strategy, middle, center)
    
          > .thumb-design
            +cssowl-sprite-absolute-inside($sprite-icons-design, middle, center)
    
          > .thumb-development
            +cssowl-sprite-absolute-inside($sprite-icons-development, middle, center)
    
        .title
          margin-bottom: 20px
          font-size: $fontSizeBig
    
        .listitem
          padding: 0
          margin: 0
          line-height: 1.8em
          list-style-type: none


        
    
// --- portfolio ---

#portfolio
  
  .projects
    .item
      padding: 1px
  
      > .project
        background: #191919
        height: 540px
        overflow: hidden
        position: relative

        > .award
          top: 0
          right: 20px
          position: absolute
  
        > .meta
          left: 0
          top: 380px
          width: 100%
          position: absolute
          +transition-property(top)
          +transition-duration(0.4s)
          background: rgba(25, 25, 25, 0.95)

          > .title
            font-size: $fontSizeBig
            margin-top: 20px
            margin-bottom: 20px
            +transition-duration(0.4s)
            +transition-property(margin-top)
          
          > .metadescription
            padding: 30px
            margin: 60px 90px 40px
            border: 1px solid $linkColor
            +transition-duration(0.4s)
            +transition-property(margin-top)
  
          > .link
            color: #fff
            padding: 10px 20px
            +border-radius(3px)
            background: $linkColor
            text-transform: uppercase
            +transition-duration(0.3s)
            +transition-property(background)
              
            &:hover
              text-decoration: none
              
              .theme-1 &
                background-color: $colorTheme1
              .theme-2 &
                background-color: $colorTheme2
              .theme-3 &
                background-color: $colorTheme3
              .theme-4 &
                background-color: $colorTheme4
            
          > .metaclient
            margin-top: 20px
  
        &:hover
          > .meta
            top: 0
            
            > .title
              margin-top: 100px
              
            > .metadescription
              margin-top: 30px
  
              
              

// --- about ---

#about
  .item
    margin-bottom: 50px

    .title
      font-size: $fontSizeBig

      
  
  
// --- contact ---

#contact
  &.wrapper
    padding-bottom: 0

    .description
      margin-bottom: 30px
      
    .address
      font-style: normal
      text-align: center
      margin-bottom: 50px
  
#maps
  height: 450px
  
  
  
  
// --- footer ----

#footer

  .content

    > .description
      color: $colorFontGrey
      margin-top: 20px !important

      a
        color: $colorFontGrey

        
    
// --- imprint ------------------------------------------------------------------------------------

#imprint
  text-align: left
  color: $blackLight

  .title
    margin: 0

  .modal-content
    +border-radius($borderRadius)

    strong
      color: $colorFontGrey

    > .modal-header
      position: relative

      .close
        height: auto
        padding: 0 10px 5px
        //+cssowl-position-absolute(20px, 20px)

    > .modal-body

      p
        text-align: justify

        
          
          
// ---- media -------------------------------------------------------------------------------------

@media (min-width: $screen-phone)

@media (min-width: $screen-tablet)

  #header
    
    .navbar-header
      .logo
        margin-left: 0

    .navbar-collapse
      padding-top: 21px

      .nav li
        margin-left: 25px


  #contact

    .address
      text-align: left

@media (min-width: $screen-desktop)

