
// --- header -------------------------------------------------------------------------------------

#header
  background: $colorBlack
  border-bottom: 1px solid $colorBorder

  .container
    position: relative

  .navbar-header
    height: 70px

    .navbar-brand
      float: left
      padding: 10px 0 0 0
      color: $colorFontDefault
      
    .logo
      margin-left: 15px
      
      >.logo-icon
        float: left
        width: 48px
        height: 48px
  
      >.logo-typo
        float: left
        margin-top: 15px
        margin-left: 5px
        font-size: $fontSizeDefault

        &:hover
          text-decoration: none

    .navbar-toggle
      margin-top: 17px
      +border-radius($borderRadius)
      border: 1px solid $colorBorder
      .theme-1 &
        background: $colorTheme1
      .theme-2 &
        background: $colorTheme2
      .theme-3 &
        background: $colorTheme3
      .theme-4 &
        background: $colorTheme4

      >.icon-bar
        background: $colorFontDefault

  .navbar-collapse
    padding: 10px 0 20px 0
    background: $colorFontDefault

    .nav
      font-size: 18px
      margin: 0
      padding: 0
      list-style-type: none

      li
        padding: 7px 0
        text-transform: uppercase
        
        a
          padding: 0 5px
          &:hover
            text-decoration: none
            color: $colorLink
            
        &.active
          a
            text-decoration: none
            color: $colorLink
          

  
            

          
// --- main ---

#skrollr-body
  width: 100%

  .wrapper
    width: 100%
    padding-top: 50px
    padding-bottom: 100px
    border-top: 1px solid $colorBorder

  .header
    > .title
      font-size: $fontSizeTitle
      line-height: 1.2em

    > .description
      margin-bottom: 50px

      

  
// --- home ---

#home
  background-repeat: no-repeat
  background-position: center 0
  background-color: $colorBlackLight

  .theme-1 &
    background-image: url("/assets/img/theme/background-01.jpg")
  .theme-2 &
    background-image: url("/assets/img/theme/background-02.jpg")
  .theme-3 &
    background-image: url("/assets/img/theme/background-03.jpg")
  .theme-4 &
    background-image: url("/assets/img/theme/background-04.jpg")

  .header
    > .title
      margin-top: 100px
      font-size: $fontSizeSuperBig

    > .description
      margin-top: 0
      margin-bottom: 0
      font-size: $fontSizeBig
      
  .services
    margin-top: 150px
    
    .item
      padding: 1px
      
      .service
        padding: 50px 0
        background: rgba(17, 17, 17, 0.6)
        
        .thumb
          width: 150px
          height: 150px
          background: #fff
          position: relative
          display: inline-block
    
          > *
            top: 50%
            left: 50%
            width: 80px
            height: 80px
            margin-top: -40px
            margin-left: -40px
    
          > .thumb-strategy
            +cssowl-sprite-absolute-inside($sprite-icons-strategy, middle, center)
    
          > .thumb-design
            +cssowl-sprite-absolute-inside($sprite-icons-design, middle, center)
    
          > .thumb-development
            +cssowl-sprite-absolute-inside($sprite-icons-development, middle, center)
    
        .title
          margin-bottom: 20px
          font-size: $fontSizeBig
    
        .listitem
          padding: 0
          margin: 0
          line-height: 1.8em
          list-style-type: none


        
    
// --- portfolio ---

#portfolio

  .theme-1 &
    background: $colorThemeDark1
  .theme-2 &
    background: $colorThemeDark2
  .theme-3 &
    background: $colorThemeDark3
  .theme-4 &
    background: $colorThemeDark4
  
  .item
    padding: 1px

    > .project
      background: $colorBlack
      overflow: hidden
      position: relative
      text-align: center

      > .award
        top: 0
        right: 0
        position: absolute
        width: 55px
        img
          width: 100%
          height: 100%
        
      > img
        display: inline
        
      > .meta
        left: 0
        top: 450px
        width: 100%
        height: 500px
        padding: 0 20px
        position: absolute
        +transition-property(top)
        +transition-property(background)
        +transition-duration(0.4s)

        > .title
          font-size: $fontSizeBig
          margin-top: 0
          margin-bottom: 0
          +transition-duration(0.4s)
          +transition-property(margin-top)
          
        > .description
          margin-top: 5px
          margin-bottom: 80px

        > .link
          color: #fff
          padding: 10px 20px
          +border-radius(3px)
          text-transform: uppercase
          +transition-duration(0.3s)
          +transition-property(background)
          .theme-1 &
            background-color: $colorTheme1
          .theme-2 &
            background-color: $colorTheme2
          .theme-3 &
            background-color: $colorTheme3
          .theme-4 &
            background-color: $colorTheme4          
            
        > .link-offline
          display: inline-block
          color: #fff
          padding: 10px 20px
          +border-radius(3px)
          text-transform: uppercase
          background: $colorLink
            
          &:hover
            text-decoration: none
            background: $colorLink
          
        > .metaclient
          margin-top: 25px
          color: $colorFontGrey
          
      .img-responsive
        margin-top: 10px
        margin-bottom: 40px

      &:hover
        > .meta
          top: 0
          background: rgba(17, 17, 17, 0.96)
          
          > .title
            margin-top: 10%
            
          > .description
            margin-top: 0
            margin-bottom: 20px
    
              
              

// --- about ---

#about
  background: $colorBlack
  
  .item
    margin-bottom: 50px

    .title
      font-size: $fontSizeBig

      
  
  
// --- contact ---

#contact

  .theme-1 &
    background: $colorThemeDark1
  .theme-2 &
    background: $colorThemeDark2
  .theme-3 &
    background: $colorThemeDark3
  .theme-4 &
    background: $colorThemeDark4
  
  &.wrapper
    padding-bottom: 0

    .description
      margin-bottom: 30px
      
    .address
      font-style: normal
      text-align: center
      margin-bottom: 50px
  
#maps
  height: 450px
  
  
  
  
// --- footer ----

#footer
  background: $colorBlack
  
  
  .social
    text-align: center
    
    ul
      margin: 0
      padding: 0
      
      li
        position: relative
        display: inline-block
        margin: 0 5px

        a
          text-indent: -9999px
          .img-circle
            background: #ffffff
            height: 60px
            width: 60px
        
          &.facebook .icon
            +cssowl-sprite-absolute-inside($sprite-icons-facebook, middle, center)
          
          &.twitter .icon
            +cssowl-sprite-absolute-inside($sprite-icons-twitter, middle, center)
            
          &.flickr .icon
            +cssowl-sprite-absolute-inside($sprite-icons-flickr, middle, center)
            
          &.behance .icon
            +cssowl-sprite-absolute-inside($sprite-icons-behance, middle, center)
        
            
  .description
    color: $colorFontGrey
    margin-top: 20px !important

    a
      color: $colorFontGrey

        
    
    
// --- imprint ------------------------------------------------------------------------------------

#imprint
  text-align: left
  color: $colorBlackLight

  .title
    margin: 0

  .modal-content
    +border-radius($borderRadius)

    strong
      color: $colorFontGrey

    > .modal-header
      position: relative

      .close
        position: absolute
        top: 25px
        right: 10px
        height: auto
        padding: 0 10px 5px

    > .modal-body

      p
        text-align: justify
        
        strong
          font-weight: normal
          color: $colorFontGrey
          

        
          
// ---- media -------------------------------------------------------------------------------------

@media (min-width: $screen-tablet)
  
  body
    font-size: $fontSizeBase

  #header
    .navbar-header
      .logo
        margin-left: 0
        
        >.logo-typo
          font-size: $fontSizeLogo

    .navbar-collapse
      padding: 21px 0 0 0
      background: $colorBlack

      .nav
        font-size: $fontSizeBase
        li
          margin-left: 20px
          padding: 5px 0
        
  #home
    .services
      .item
        .service
          height: 540px
          
  #portfolio
    .item
      > .project
        height: 400px
        > .meta
          top: 260px
          
          > .description
            margin-bottom: 80px
            
        &:hover
          > .meta
            > .title
              margin-top: 100px
            
            > .description
              margin-top: 10px
              margin-bottom: 40px


        
@media (min-width: $screen-desktop)

  #home
    .services
      .item
        .service
          height: auto
  
  #portfolio
    .col-md-6
      > .project
        height: 500px

        > .award
          width: 85px

        > .meta
          top: 370px

        .img-responsive
          margin-top: 0
          margin-bottom: 0

        &:hover
          > .meta
            > .title
              margin-top: 140px
      
              