// ---- variables ---------------------------------------------------------------------------------

$font-size-base:    1rem
$line-height-base:  1.5em
$font-family-base:  'TitilliumMaps26L1wt', Arial, Verdana
$link-color:        #808080

// ---- colors

$black            : #000000
$black-light      : #191919

$color-border     : #222222
$color-primary    : #ffffff
$color-background : #f5f5f6

$colorFontDefault : #142128
$colorFontGrey    : #c0c0c0
$colorFontWhite   : #ffffff

$color-theme-1: #ae2c3c
$color-theme-2: #569dd4
$color-theme-3: #95a13b
$color-theme-4: #e4980b

// --- styles ---

$border-radius    : 4px

// --- assets ---

$sprite           : url("/assets/img/sprite.png")
