%section#home.wrapper{"data-0" => "background-position:center 0px", "data-1200" => "background-position:center 600px"}
  .container
    .row.header
      %h1.title.col-md-12.col-lg-offset-1.col-lg-10
        Willkommen bei We Are Interactive!
      %p.col-md-12.col-lg-offset-1.col-lg-10.description
        In unserem Studio in München bieten wir Ihnen ein ganzheitliches Leistungsspektrum von Konzept über Design bis hin zur Programmierung innovativer und preisgekrönter Webseiten und Applikationen.

    .row.services
      .col-sm-4.item
        .service
          .thumb.img-circle
            .thumb-strategy
          %h3.title Strategie & Innovation
          %ul.listitem                            
            %li Zielgruppenanalyse
            %li Informationsarchitektur
            %li Web Konzeption
            %li Online Game Konzeption 
            %li Mobile App Konzeption

      .col-sm-4.item
        .service
          .thumb.img-circle
            .thumb-design
          %h3.title Screendesign
          %ul.listitem
            %li Web Design
            %li Mobile Design
            %li Online Game Design
            %li User Interface Design
            %li Interaction Design

      .col-sm-4.item
        .service
          .thumb.img-circle
            .thumb-development
          %h3.title Entwicklung
          %ul.listitem
            %li Web Development
            %li Mobile Development
            %li Online Game Development
            %li CMS & Shop Development
            %li Framework Development



%section#portfolio.wrapper
  .container
    .row.header
      %h2.col-md-12.col-lg-offset-1.col-lg-10.title Projekte
      %p.col-md-12.col-lg-offset-1.col-lg-10.description
        In den letzten 12 Jahren konnten wir durch eine enge Zusammenarbeit mit Agenturen für internationale Kunden aus verschiedensten Branchen - wie Bogner, Marc O'Polo, s.Oliver, Roeckl, BMW, FedEx und NBCUniversal - arbeiten. Die Resultate überzeugten nicht nur unsere Kunden, sondern auch die Fachjury namhafter Kreativwettbewerbe wie etwa des red dot award oder Promax.
        %br
        Hier ein Auszug aus unseren erfolgreichen Projekten:

  .container.projects
    .row
      .col-xs-12.col-sm-6.col-md-6.item
        .project.owlstars
          .meta
            %h3.title Owl-Stars
            %p.description
              Konzept ∙ Screendesign ∙ Web Development ∙ Photoshop extension Development
            %a.link{href: "http://www.owl-stars.com/", target: "_blank", title: "Zur Owl-Stars Website"} Zur Webseite
            %p.metaclient
              Umgesetzt für
              %a{href: "http://www.wejustdostuff.com", target: "_blank"} We Just Do Stuff
          =image_tag "projects/owl-stars/owl-stars-preview.png", :alt => "", :class => "img-responsive"  
          
      .col-xs-12.col-sm-6.col-md-6.item
        .project.bognermobile
          .meta
            %h3.title World of Bogner Mobile
            %p.description
              Konzept ∙ Screendesign ∙ Mobile Development ∙ CMS Development
            %a.link{href: "http://m.bogner.com/de/", target: "_blank", title: "Zur World of Bogner Mobileseite"} Zur Webseite
            %p.metaclient
              Umgesetzt für
              %a{href: "http://www.bestbytes.com", target: "_blank"} bestbytes
          =image_tag "projects/bogner-mobile/bogner-mobile-preview.png", :alt => "", :class => "img-responsive"  
            
      .col-xs-12.col-sm-6.col-md-6.item
        .project.bogner
          .award
            =image_tag "awards/reddot.gif", :alt => "red dot award"
          .meta
            %h3.title World of Bogner
            %p.description
              Konzept ∙ Screendesign ∙ Web Development ∙ Shop Development
            %a.link{href: "http://www.bogner.com", target: "_blank", title: "Zur World of Bogner Webseite"} Zur Webseite
            %p.metaclient
              Umgesetzt für
              %a{href: "http://www.bestbytes.com", target: "_blank"} bestbytes
          =image_tag "projects/bogner/bogner-preview.png", :alt => "", :class => "img-responsive"  
          
      .col-xs-12.col-sm-6.col-md-6.item
        .project.nbcu
          .award
            =image_tag "awards/promaxbda.gif", :alt => "Promaxbda"
          .meta
            %h3.title NBC Universal
            %p.description
              Konzept ∙ Screendesign
            %a.link{href: "http://www.nbcu.de", target: "_blank", title: "Zur NBC Universal Webseite"} Zur Webseite
            %p.metaclient
              Umgesetzt für
              %a{href: "http://www.dpool.com", target: "_blank"} dpool
          =image_tag "projects/nbcu/nbcu-preview.png", :alt => "", :class => "img-responsive"  

      .col-xs-12.col-sm-6.col-md-4.item
        .project.e11
          .meta
            %h3.title episode eleven
            %p.description
              Konzept ∙ Screendesign ∙ Web Development ∙ CMS Development
            %a.link{href: "http://www.episode-eleven.de", target: "_blank", title: "Zur Episode eleven Webseite"} Zur Webseite
          =image_tag "projects/episode-eleven/episode-eleven-preview.png", :alt => "", :class => "img-responsive" 
       
      .col-xs-12.col-sm-6.col-md-4.item
        .project.angeln
          .meta
            %h3.title Angeln.de
            %p.description
              Konzept ∙ Screendesign ∙ Frontend Development
            %a.link{href: "http://www.angeln.de", target: "_blank", title: "Zur Anglen.de Webseite"} Zur Webseite
            %p.metaclient
              Umgesetzt für
              %a{href: "http://www.woont-solutions.com", target: "_blank"} Woont Solutions
          =image_tag "projects/angeln/angeln-preview.png", :alt => "", :class => "img-responsive"
          
      .col-xs-12.col-sm-6.col-md-4.item
        .project.braunclassics
          .meta
            %h3.title Braun Classics
            %p.description
              Konzept ∙ Screendesign ∙ Web Development
            %a.link{href: "http://www.braun-classics.de", target: "_blank", title: "Zur Braun-Classics Website"} Zur Webseite
          =image_tag "projects/braun-classics/braun-classics-preview.png", :alt => "", :class => "img-responsive"  
          
      .col-xs-12.col-sm-6.col-md-4.item
        .project.odzala
          .meta
            %h3.title Odzala
            %p.description
              Konzept ∙ Screendesign
            %a.link{href: "http://www.odzala.com", target: "_blank", title: "Zur Odzala Website"} Zur Webseite
            %p.metaclient
              Umgesetzt für
              %a{href: "http://www.dpool.com", target: "_blank"} dpool
          =image_tag "projects/odzala/odzala-preview.png", :alt => "", :class => "img-responsive"  
                    
      .col-xs-12.col-sm-6.col-md-4.item
        .project.syfyvl
          .meta
            %h3.title Syfy Vampire League
            %p.description
              Konzept ∙ Screendesign ∙ Game Development
            .link-offline Nicht mehr Online
            %p.metaclient
              Umgesetzt für
              %a{href: "http://www.bestbytes.com", target: "_blank"} bestbytes
          =image_tag "projects/syfy-vl/syfy-vl-preview.png", :alt => "", :class => "img-responsive" 
          
      .col-xs-12.col-sm-6.col-md-4.item
        .project.syfymc
          .award
            =image_tag "awards/promaxbda.gif", :alt => "Promaxbda"
          .meta
            %h3.title Syfy Mystery Challenge
            %p.description
              Konzept ∙ Screendesign ∙ Game Development
            .link-offline Nicht mehr Online
            %p.metaclient
              Umgesetzt für
              %a{href: "http://www.bestbytes.com", target: "_blank"} bestbytes
          =image_tag "projects/syfy-mc/syfy-mc-preview.png", :alt => "", :class => "img-responsive" 
          


%section#about.wrapper
  .container
    .row.header
      %h2.col-md-12.col-lg-offset-1.col-lg-10.title Über uns
      %p.col-md-12.col-lg-offset-1.col-lg-10.description
        In unserem Münchner Studio an der schönen Isar realisieren wir gestalterisch begeisternde, technisch innovative  und mehrfach ausgezeichnete 0nline- und Mobile-Projekte. Profitieren auch Sie von unserer langjährigen Erfahrung und Leidenschaft für alles Interaktive und buchen Sie uns flexibel auf Projektbasis.

    .row.item
      .col-sm-6.col-lg-offset-1.col-lg-5
        .thumb
          =image_tag "about/sp.jpg", :alt => "", :class => "img-circle"
      .col-sm-6.col-lg-5
        %h3.title Sebastian Pollak
        %p.description
          Seit über 12 Jahren im Geschäft. Zuständig für Konzeption, Screendesign, UI/UX Design und Frontend Development.
          //In der Freitzeit unterwegs als Snowboarder, Wakeboarder, Naturliebhaber und Reisender.
          %br
          %br
          %span
            %a{href: "tel:+498962286774"} T. +49 (0)89 - 62 28 67 74
          %br
          %a{href: "mailto:sebastian@weareinteractive.com"} sebastian@weareinteractive.com

    .row.item
      .col-sm-6.col-sm-push-6.col-lg-offset-1.col-lg-6.col-lg-push-6
        .thumb
          =image_tag "about/kk.jpg", :alt => "", :class => "img-circle"
      .col-sm-6.col-sm-pull-6.col-lg-5.col-lg-pull-5
        %h3.title Kevin Franklin Kim
        %p.description
          Über 8 Jahre Erfahrung. Zuständig für Konzeption und Mobile, Web, Framework, CMS, Shop und Frontend Development.
          //In der Freitzeit unterwegs als Wellenreiter, Kiteboarder, Snowboarder, Basketballer, Meerliebhaber und Weltenbumler.
          %br
          %br
          %span
            %a{href: "tel:+498962286776"} T. +49 (0)89 - 62 28 67 76
          %br
          %a{href: "mailto:kevin@weareinteractive.com"} kevin@weareinteractive.com
          


%section#contact.wrapper
  .container
    .row.header
      %h2.col-md-12.col-lg-offset-1.col-lg-10.title Kontakt
      %p.col-md-12.col-lg-offset-1.col-lg-10.description
        Sie denken gerade über ein spannendes Online-Projekt nach? Dann freuen wir uns auf Ihre Anfrage!
      %address.col-md-12.col-lg-offset-1.col-lg-10.address
        We Are Interactive, Zeppelinstr. 55, 81669 München
        %br
          %span
            %a{href: "tel:+498962286775"} T. +49 (0)89 - 62 28 67 75
          %br
          %span.mail
            %a{href: "mailto:office@weareinteractive.de"} office@weareinteractive.de
        
        
%section#maps.gmaps
  #map_canvas{style: "width:100%; height:100%"}
